body
{
    background-image:url(./Images/BackgroundImage03);
    background-repeat: none;
    background-size: contain;
    overflow-x: hidden;
}

.background-color
{
    background-color:rgb(22, 19, 53);   
}
h1,p
{
    font-family: 'Caveat', cursive;
}

li h5,h5,h6{
    font-family: 'Kaushan Script', cursive;
    margin-top: 5px;
    color: rgb(30, 21, 87);
}
.nav-link 
{
    color: antiquewhite;
}
#education-section:hover, #project-section:hover,#skills-section:hover, #training-section:hover, #experience-section:hover
{
    transform: scale(1.03);
    
}
#education-section, #project-section, #skills-section, #training-section, #experience-section
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    background-color:#d3d3d365;
    justify-content:center;
    
}
@media screen and (max-width: 500px) {
    body {
        background-repeat: none;
        background-size: cover;
    }
  
}